name: Thirdweb Svelte Publish
# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches:
      - main
      - feat/pnpm
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "publish"
  publish:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - id: check
        uses: EndBug/version-check@v2
        with:
          file-name: './package.json'
          file-url: '::before'
          static-checking: localIsNew

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install packages
        run: pnpm install

      - name: Publish
        run: pnpm publish --access public --provenance --no-git-checks
        # if: steps.check.outputs.changed == 'true'
